# Project specific ignores
trained_models/

# VSCode ignores
.vscode/*
*.code-workspace
src/env

# Octave Session info
octave-workspace

# Python - Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python - C extensions
*.so

# Python - Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
src/logs
api_logs
.env*
nginx/nginx.conf
.docker.env
nosetests.xml
results.xml
coverage.xml
pylint.log
.coverage
